:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

body .wrapper {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  height: 100vh;
  color: #ffffff;
  background: url(./assets/images/day/1.jpg) center no-repeat;
  background-size: cover;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

body .wrapper .weather_wrapper {
  text-shadow: #000000 0.1rem 0.1rem 0.1rem;
  font-size: 1.7rem;
}

body .wrapper .weather_wrapper .city {
  max-width: 35rem;
  cursor: pointer;
  margin: 0 auto;
}

body .wrapper .time_wrapper {
  margin: 1rem auto;
}

body .wrapper .time_wrapper .time {
  font-size: 15rem;
  text-shadow: #000000 0.4rem 0.4rem 0.1rem;
}

body .wrapper .time_wrapper .week {
  font-size: 3rem;
  text-shadow: #000000 0.2rem 0.2rem 0.1rem;
}

body .wrapper .greeting_wrapper {
  font-size: 1.2rem;
  text-shadow: #000000 0.1rem 0.1rem 0.1rem;
}

body .wrapper .greeting_wrapper .name {
  max-width: 40rem;
  margin: 0 auto;
}

body .wrapper .focus_wrapper {
  margin: 1rem auto;
  font-size: 1.2rem;
  text-shadow: #000000 0.1rem 0.1rem 0.1rem;
}

body .wrapper .scroll_wrapper {
  margin: 0 auto;
}

body .wrapper .scroll_wrapper .scroll_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .scroll_wrapper .btn {
  display: inline-block;
  color: #cdd8e4;
  text-decoration: none;
  padding: .2em .8em;
  outline: none;
  border-right: 0.1rem solid rgba(13, 20, 27, 0.5);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.01);
  background-color: #404952;
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#404952), to(#48515a));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#404952, #48515a);
  cursor: pointer;
  font-size: 1.2rem;
}

body .wrapper .scroll_wrapper .btn:hover {
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#333c43), to(#3a4148));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#333c43, #3a4148);
}

body .wrapper .scroll_wrapper .btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .wrapper .quote_wrapper {
  width: 70%;
  margin: 1rem auto;
  font-size: 2rem;
  text-shadow: #000000 0.1rem 0.1rem 0.1rem;
}

body .wrapper .quote_wrapper .quote {
  margin-top: 2rem;
  height: 10rem;
  opacity: 1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body .wrapper .quote_wrapper .btn {
  font-size: 1.2rem;
  display: inline-block;
  color: #cdd8e4;
  text-decoration: none;
  padding: .2em .8em;
  outline: none;
  border-right: 0.1rem solid rgba(13, 20, 27, 0.5);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.01);
  background-color: #404952;
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#404952), to(#48515a));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#404952, #48515a);
  cursor: pointer;
}

body .wrapper .quote_wrapper .btn:hover {
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#333c43), to(#3a4148));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#333c43, #3a4148);
}

body .wrapper .quote_wrapper .btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1279px) {
  body .wrapper .weather_wrapper {
    font-size: 1.5rem;
  }
  body .wrapper .time_wrapper {
    margin: 1rem auto;
  }
  body .wrapper .time_wrapper .time {
    font-size: 9rem;
  }
  body .wrapper .time_wrapper .week {
    font-size: 2rem;
  }
  body .wrapper .greeting_wrapper {
    font-size: 1rem;
  }
  body .wrapper .greeting_wrapper .name {
    max-width: 25rem;
  }
  body .wrapper .focus_wrapper {
    margin: 1rem auto;
    font-size: 1rem;
  }
  body .wrapper .scroll_wrapper .btn {
    font-size: 1.5rem;
  }
  body .wrapper .quote_wrapper {
    margin: 1rem auto;
    font-size: 1.5rem;
  }
  body .wrapper .quote_wrapper .btn {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  body .wrapper .weather_wrapper {
    font-size: 1.3rem;
  }
  body .wrapper .time_wrapper {
    margin: 1rem auto;
  }
  body .wrapper .time_wrapper .time {
    font-size: 7rem;
  }
  body .wrapper .time_wrapper .week {
    font-size: 2rem;
  }
  body .wrapper .greeting_wrapper {
    font-size: 0.8rem;
  }
  body .wrapper .greeting_wrapper .name {
    max-width: 20rem;
  }
  body .wrapper .focus_wrapper {
    margin: 2rem auto;
    font-size: 1rem;
  }
  body .wrapper .scroll_wrapper .btn {
    font-size: 1.2rem;
  }
  body .wrapper .quote_wrapper {
    margin: 1rem auto;
    font-size: 1.5rem;
  }
  body .wrapper .quote_wrapper .btn {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */