:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #ffffff;
  background: url(./assets/images/day/1.jpg) center no-repeat;
  background-size: auto;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}

body .wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-column-width: 50%;
          column-width: 50%;
}

body .weather_wrapper {
  text-shadow: #000000 0.1rem 0.1rem 0.1rem;
  font-size: 4.5rem;
}

body .weather_wrapper .city {
  max-width: 40rem;
  cursor: pointer;
  margin: 0 auto;
}

body .time_wrapper {
  margin: 9rem auto;
}

body .time_wrapper .time {
  font-size: 45rem;
  text-shadow: #000000 0.4rem 0.4rem 0.1rem;
}

body .time_wrapper .week {
  font-size: 15rem;
}

body .greeting_wrapper {
  font-size: 4.5rem;
}

body .focus_wrapper {
  margin: 5rem auto;
  font-size: 4.5rem;
}

body .scroll_wrapper {
  width: 100vh;
  margin: 0 auto;
}

body .scroll_wrapper .scroll_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .scroll_wrapper .btn {
  display: inline-block;
  color: #cdd8e4;
  text-decoration: none;
  padding: .2em .8em;
  outline: none;
  border-right: 0.1rem solid rgba(13, 20, 27, 0.5);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.01);
  background-color: #404952;
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#404952), to(#48515a));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#404952, #48515a);
  cursor: pointer;
  font-size: 4.5rem;
}

body .scroll_wrapper .btn:hover {
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#333c43), to(#3a4148));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#333c43, #3a4148);
}

body .quote_wrapper {
  width: 70%;
  margin: 6rem auto;
  font-size: 6rem;
}

body .quote_wrapper .btn {
  font-size: 4.5rem;
  display: inline-block;
  color: #cdd8e4;
  text-decoration: none;
  padding: .2em .8em;
  outline: none;
  border-right: 0.1rem solid rgba(13, 20, 27, 0.5);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.01);
  background-color: #404952;
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#404952), to(#48515a));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#404952, #48515a);
  cursor: pointer;
}

body .quote_wrapper .btn:hover {
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), -webkit-gradient(linear, left top, left bottom, from(#333c43), to(#3a4148));
  background-image: radial-gradient(0.1rem 60% at 0% 50%, rgba(255, 255, 255, 0.3), transparent), radial-gradient(0.1rem 60% at 100% 50%, rgba(255, 255, 255, 0.3), transparent), linear-gradient(#333c43, #3a4148);
}

@media screen and (max-width: 1279px) {
  body .weather_wrapper {
    font-size: 1.5rem;
  }
  body .time_wrapper {
    margin: 1rem auto;
  }
  body .time_wrapper .time {
    font-size: 14rem;
  }
  body .time_wrapper .week {
    font-size: 4rem;
  }
  body .greeting_wrapper {
    font-size: 1.5rem;
  }
  body .focus_wrapper {
    margin: 2rem auto;
    font-size: 1.5rem;
  }
  body .scroll_wrapper .btn {
    font-size: 1.5rem;
  }
  body .quote_wrapper {
    margin: 2rem auto;
    font-size: 1.5rem;
  }
  body .quote_wrapper .btn {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  body .weather_wrapper {
    font-size: 1rem;
  }
  body .time_wrapper {
    margin: 1rem auto;
  }
  body .time_wrapper .time {
    font-size: 10rem;
  }
  body .time_wrapper .week {
    font-size: 3rem;
  }
  body .greeting_wrapper {
    font-size: 1rem;
  }
  body .focus_wrapper {
    margin: 2rem auto;
    font-size: 1rem;
  }
  body .scroll_wrapper .btn {
    font-size: 1.5rem;
  }
  body .quote_wrapper {
    margin: 1rem auto;
    font-size: 1.5rem;
  }
  body .quote_wrapper .btn {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */